* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: lightgrey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: white;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  text-decoration: none;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-weight: bold;
}

nav a:hover {
  background-color: lightgrey;
}

nav ul li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.054);
  z-index: 999;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  backdrop-filter: blur(10px);
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .hide_on_mobile {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .hide_on_desktop {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
